/*  
Wiebe Jelsma (12468223)
Minor programmeren, Data processing
17-12-2018
*/
/* body{
    background: black
} */
#header {
    padding: 40px; /* some padding */
    text-align: center; /* center the text */
    background: #fffefe; /* green background */
    color: rgb(31, 1, 1); /* white text color */
  }
/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
#map {
    display: inline-block;
}

#chart {
    display: inline-block;
}
.names {
fill: none;
stroke: #fff;
stroke-linejoin: round;
}
/* Tooltip CSS */
.d3-tip {
line-height: 1.5;
font-weight: 400;
font-family:"avenir next", Arial, sans-serif;
padding: 6px;
background: rgba(0, 0, 0, 0.6);
color: #FFA500;
border-radius: 1px;
pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

.details{
    color:white;
}
body, html{
    height: 100%;
}
.bgimg {
    background-image: url("../../doc/happiness.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.bottomleft{
    position: absolute;
    bottom: 0;
    left: 85%;
    color: white;
}
.middle {
    position: absolute;
    top: 20%;
    left: 25%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
}
blockquote
{
  font-style: italic;
  font-size: 15px;
  font-family: "Consolas", "Times New Roman", Verdana;
  border-left: none;
  padding-left: 20px;
  padding-top: 20px;
}
#welcome {
    display: inline-flex;
    content: '';
    margin-left: 10 px;
    margin-top: 250px;
    width:400px;
    height:280px;
    border-left: none;
    border: 4px solid white;
    /* border-left: 10px solid white; */
    border-radius: 6px;
    color: white;
}